<div class="service_area">
        <div class="container">
                <div class="row">
                        <div class="col-xl-12">
                                <div class="section_title text-center mb-65">
                                        <span>Service Provided</span>
                                        <h4 class="fs-3 fw-bold">Building websites, optimizing SEO,<br>
                                                and creating digital experiences that drive growth.</h4>
                                </div>
                        </div>
                </div>
                <div class="row">
                        @for (service of myservice; track $index) {
                        <div class="col-xl-4 col-md-4">
                                <div class="single_service text-center">
                                        <div class="icon">
                                                <img [src]="service.img" alt="">
                                        </div>
                                        <h3>{{service.title}}</h3>
                                        <p>{{service.description}}</p>
                                </div>
                        </div>
                        }
                </div>
        </div>
</div>